SHOPIFY_STORE_URL=equora-6.myshopify.com
SHOPIFY_STOREFRONT_TOKEN=tu_storefront_token_aqui
SHOPIFY_API_VERSION=2025-01
SHOPIFY_ACCESS_TOKEN=atkn_tu_token_aqui
SHOPIFY_API_KEY=tu_client_id_aqui
SHOPIFY_API_SECRET=shpss_tu_secret_aqui
NUMERO_WHATSAPP=+573166152899
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
